<div class="container">
    <h1>Neue Beobachtung erfassen</h1>

   
    <form novalidate="novalidate" class="form-horizontal" ng-submit="addBeobachtung()">
        <div class="control-group">
            <label class="control-label" for="inputCategoryId">Datum:</label>
            <div class="controls">
                <select id="inputDate" ng-model="beobachtung.date">
                    <option ng-repeat="day in days" value="{{day.dateShort}}">{{day.displayDate}}</option>         
                </select>
            </div>
        </div>
        
                <div class="control-group">
            <label class="control-label" for="inputCategoryId">Aktivität:</label>
            <div class="controls">
                <select id="inputActivity" ng-disabled="!dayActivities" ng-model="beobachtung.activityId">
                    <option ng-repeat="dayActivity in dayActivities  track by $index" value="{{dayActivity.activityId}}">{{dayActivity.activityNumber}} {{dayActivity.title}}</option> 
                    <option value="0"> </option>
                </select>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="inputtime">Zeit:</label>
            <div class="controls">
                <input id="inputTime" ng-disabled="timeDisabled" type="text" size="5" ng-model="beobachtung.time"/> Format: "15:00"
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCategoryId">Kategorie:</label>
            <div class="controls">
                <select id="inputCategoryId" ng-model="beobachtung.categoryId">
                    <option ng-repeat="category in categories" value="{{category.categoryId}}">{{category.name}}</option>         
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputBeobachtung">Beobachtung</label>
            <div class="controls">
                <textarea id="inputBeobachtung" ng-model="beobachtung.beobachtung" cols="100" rows="10"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Beobachtung hinzufügen</button>
            </div>
        </div>
    </form>
</div>  