<h1>{{'PAGETITLE' | translate}}</h1>
<ul class="gallery">
    <li ng-repeat="participant in participants">
        <a ng-href="#/participants/view/{{participant.participantId}}">
        <img ng-src="/ecourse/images/{{participant.image}}" ng-if="participant.image" alt="{{participant.prename}} {{participant.name}} v/o {{participant.scoutname}}" />
        <div class="participantName"> {{participant.scoutname}} <br /> (
            <span ng-repeat="category in participant.categories">
                <i class="fa {{category.cssClass}}"/> {{category.numberOfBeobachtung}}
            </span>
          )
        </div></a>
    </li>
</ul>
