<h1>Teilnehmende</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Bild</th>
        <th>Pfadiname</th>
        <th>Vorname</th>
        <th>Name</th>
        <th>Bearbeiten</th>
        <th>Löschen</th>
      </tr>
    </thead>
    <tr ng-repeat="participant in participants">
        <td><img src="images/{{participant.image}}" ng-if="participant.image" width="100px"/> </td>
        <td>{{participant.scoutname}} </td>
        <td>{{participant.prename}} </td>              
        <td>{{participant.name}} </td>    
        <td><a ng-click="editParticipant(activity.activityId)">Bearbeiten</a></td>
        <td><a ng-if="participant.numBeobachtungen == 0" ng-click="deleteParticipant(activity.activityId)">Löschen</a></td>
    </tr>
</table>
