
<a ng-href="#/">Zur&uuml;ck</a>
<img ng-src="/ecourse/images/{{participant.image}}" ng-if="participant.image" class="participantImage" />

<h1>{{participant.scoutname}}</h1>

<dl>
  <dt>Name </dt><dd>{{participant.prename}} {{participant.name}}  v/o {{participant.scoutname}}</dd>
  <dt>Geburtsdatum </dt><dd>{{participant.birthDate}} </dd>
  <dt>Pfadiabteilung </dt><dd>{{participant.scoutGroup}} ({{participant.canton}})</dd>
  <dt>Erfahrung </dt><dd>{{participant.experience}}</dd>
  <dt>Aktuelle Funktion </dt><dd>{{participant.actualFunction}}</dd>
  <dt>Zukunftspl&auml;ne in der Pfadi </dt><dd>{{participant.futurePlans}}</dd>

  <dt>Motivation und Erwartungen f&uuml;r den Kurs </dt><dd>{{participant.motivation}}</dd>
  <dt>Informationen der empfehlenden Istanz </dt><dd>{{participant.recommendation}}</dd>

</dl>
<div ng-bind-html="participant.comment"></div>
<br />


<a ng-href="#/beobachtung/add/{{participant.participantId}}">Neue Beobachtung erfassen</a>

<div style="clear: both;"></div>
<div ng-repeat="category in participant.categories">
    <h2 class="categoryTitle">{{category.name}} <i class="fa {{category.cssClass}}" ></i></h2>
    <ul>
        <li ng-repeat="beobachtung in category.beobachtungen">
            {{beobachtung.beobachtung}} (

            <span ng-if="beobachtung.activityNumber"> {{beobachtung.activityNumber}} {{beobachtung.activityTitle}}</span>
            <span ng-if="!beobachtung.activityNumber"> {{beobachtung.datetime }}</span>

            , {{beobachtung.leaderScoutName}})
            <a ng-click="deleteBeobachtung(beobachtung.beobachtungId)">Löschen</a>

        </li>

    </ul>
</div>
