
<a ng-href="#/">Zurück</a>
<img ng-src="/ecourse/images/{{participant.image}}" ng-if="participant.image" class="participantImage" />

<h1>{{participant.scoutname}}</h1>
{{participant.prename}} {{participant.name}} <br />


<div style="clear: both;"></div>
<div ng-repeat="category in participant.categories">
    <h2 class="categoryTitle">{{category.name}}</h2>
    <ul>
        <li ng-repeat="beobachtung in category.beobachtungen">
            {{beobachtung.beobachtung}} (
            
            <span ng-if="beobachtung.activityNumber"> {{beobachtung.activityNumber}} {{beobachtung.activityTitle}}</span>
            <span ng-if="!beobachtung.activityNumber"> {{beobachtung.datetime }}</span>
            
            , {{beobachtung.leaderScoutName}})
        </li>
        
    </ul>
</div>
