
<a ng-href="#/">{{'BACK' | translate}} </a>
<img ng-src="/ecourse/images/{{participant.image}}" ng-if="participant.image" class="participantImage" />

<h1>{{participant.scoutname}}</h1>

<dl>
  <dt>{{'PARTICIPANT_NAME' |translate}} </dt><dd>{{participant.prename}} {{participant.name}}  v/o {{participant.scoutname}}</dd>
  <dt>{{'PARTICIPANT_BIRTHDAY' |translate}} </dt><dd>{{participant.birthDate}} </dd>
  <dt>{{'PARTICIPANT_GROUP' |translate}} </dt><dd>{{participant.scoutGroup}} ({{participant.canton}})</dd>
  <dt>{{'PARTICIPANT_EXPERIENCE' |translate}}</dt><dd>{{participant.experience}}</dd>
  <dt>{{'PARTICIPANT_FUNCTION' |translate}}</dt><dd>{{participant.actualFunction}}</dd>
  <dt>{{'PARTICIPANT_SCOUTFUTUREPLANS' |translate}} </dt><dd>{{participant.futurePlans}}</dd>

  <dt>{{'PARTICIPANT_MOTIVATIONANDEXPECTINGSFORCOURSE' |translate}}</dt><dd>{{participant.motivation}}</dd>
  <dt>{{'PARTICIPANT_INFOFROMRECOMMENDINGINSTANCE' |translate}} </dt><dd>{{participant.recommendation}}</dd>

</dl>
<div ng-bind-html="participant.comment"></div>
<br />


<a ng-href="#/beobachtung/add/{{participant.participantId}}">{{'PARTICIPANT_ADD_NOTICE' |translate}}</a>

<div style="clear: both;"></div>
<div ng-repeat="category in participant.categories">
    <h2 class="categoryTitle">{{category.name}} <i class="fa {{category.cssClass}}" ></i></h2>
    <ul>
        <li ng-repeat="beobachtung in category.beobachtungen">
            {{beobachtung.beobachtung}} (

            <span ng-if="beobachtung.activityNumber"> {{beobachtung.activityNumber}} {{beobachtung.activityTitle}}</span>
            <span ng-if="!beobachtung.activityNumber"> {{beobachtung.datetime }}</span>

            , {{beobachtung.leaderScoutName}})
            <a ng-click="deleteBeobachtung(beobachtung.beobachtungId)">Löschen</a>

        </li>

    </ul>
</div>
