<h1>{{'PARTICIPANTS' |translate}}</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>{{'PARTICIPANT_IMAGE' |translate}}</th>
        <th>{{'PARTICIPANT_SCOUTNAME' |translate}}</th>
        <th>{{'PARTICIPANT_PRENAME' |translate}}</th>
        <th>{{'PARTICIPANT_NAME' |translate}}</th>
        <th>{{'PARTICIPANT_EDIT' |translate}}</th>
        <th>{{'PARTICIPANT_DELETE' |translate}}</th>
      </tr>
    </thead>
    <tr ng-repeat="participant in participants">
        <td><img src="images/{{participant.image}}" ng-if="participant.image" width="100px"/> </td>
        <td>{{participant.scoutname}} </td>
        <td>{{participant.prename}} </td>
        <td>{{participant.name}} </td>    
        <td><a ng-click="editParticipant(activity.activityId)">{{'PARTICIPANT_EDIT' |translate}}</a></td>
        <td><a ng-if="participant.numBeobachtungen == 0" ng-click="deleteParticipant(activity.activityId)">{{'PARTICIPANT_DELETE' |translate}}</a></td>
    </tr>
</table>
